
body, html {
    height: 100%;
    margin: 0;
}
.main-header-section {
    display: flex;
    flex-direction: row;
    height: 100%;
}
header {
    flex: 1;
    background-image: linear-gradient( #080402,  #373737),
                  url("/styles/header-background.jpg");
}
.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #808080;


}
.header-section img {
    max-width: 100%;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}
.links-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.links-container a {
    margin: 15px 0;

}
/* applying pseudo classes */
.links-container a:nth-child(n + 1) {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
a.home:hover, a.about:hover, a.skills:hover, a.education:hover{
    text-decoration: underline #D21404 solid 2px;
}
/* pseudo class application done */

/*Class added to links based on an event listeener in header.js */
.links-container a.underline {
    text-decoration: underline #3CB043 solid 2px !important;
}

h2, p {
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
main {
    flex: 3;
    height: 100%;
}

@media screen and (max-height: 601px)
{
    .header-section img {
        max-width: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}

/*media query for screen size of maximum width 751 to minimum width 281 */
@media screen and (max-width: 751px) {
    body, html {
        height: 100%;
        margin: 0;
    }
    .main-header-section {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    header {
        flex: 1;
        background-image: linear-gradient( #080402,  #373737),
                      url("/styles/header-background.jpg");
    }
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-color: #808080;
    
    
    }
    .header-section img {
        max-width: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .links-container {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    .links-container a {
        margin: 15px 0;
        font-size: 0.6em;
    
    }
    /* applying pseudo classes */
    .links-container a:nth-child(n + 1) {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: lighter;
        font-family: 'Courier New', Courier, monospace;
    }
    a.home:hover, a.about:hover, a.skills:hover, a.education:hover{
        text-decoration: underline #D21404 solid 2px;
    }
    /* pseudo class application done */
    
    /*Class added to links based on an event listeener in header.js */
    .links-container a.underline {
        text-decoration: underline #3CB043 solid 2px !important;
    }
    h2, p {
        color: #FFFFFF;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    h2 {
        font-size: 0.9em;
    }
    p {
        font-size: 0.4em;
    }
    main {
        flex: 3;
        height: 100%;
    }
}
/* samsung galaxy fold screen size of max-width of 280 to min-width 150px*/
@media screen and (max-width: 280px) {
    body, html {
        height: 100%;
        margin: 0;
    }
    .main-header-section {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    header {
        flex: 1;
        background-image: linear-gradient( #080402,  #373737),
                      url("/styles/header-background.jpg");
    }
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-color: #808080;
    
    }
    .header-section img {
        max-width: 100%;
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    .links-container {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }   
    /* applying pseudo classes */
    .links-container a:nth-child(n + 1) {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: lighter;
        font-family: 'Courier New', Courier, monospace;
    }
    a.home:hover, a.about:hover, a.skills:hover, a.education:hover{
        text-decoration: underline #D21404 solid 2px;
    }
    /* pseudo class application done */

    /*Class added to links based on an event listeener in header.js */
    .links-container a.underline {
        text-decoration: underline #3CB043 solid 2px !important;
    }
    .links-container a {
        margin: 15px 0;
        font-size: 0.4em;
    
    }
    h2, p {
        color: #FFFFFF;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    h2 {
        font-size: 0.6em;
    }
    p {
        font-size: 0.6em;
    }
    main {
        flex: 3;
        height: 100%;
    }
}